@model DepartmentViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create New Department</h1>

    <form asp-action="Create">

        <partial name="PartialViews/CreateEditDeptPartialView" />


        <input type="submit" value="submit" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
</div>



@section validationScriptSection {
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    <partial name="_ValidationScriptsPartial" />
}