@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <form method="post" asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="wthree-text">
                <label class="anim">
                <input class="text " type="password" asp-for="NewPassword" placeholder="Password" required="">
                </label>
                <div class="clear"> </div>
            </div>

            <div class="wthree-text">
                <label class="anim">
                <input class="text" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
                </label>
                <div class="clear"> </div>
            </div>

            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>

